extends ./layouts/index

block title
  title KOA 首页

block content
  include ./layouts/header
  .row
    .col-md-3
      .sidebar
        ul.nav.navbar-nav
          li
            a 哈哈
          li.active
            a 哈哈2
    .col-md-9
      .content
        .row
          .col-md-6
            .card
              img.card-img-top(
                src="http://d.hiphotos.baidu.com/image/pic/item/562c11dfa9ec8a13c0741f5afd03918fa0ecc01a.jpg",
                alt=""
                data-video='http://www.iqiyi.com/v_19rv6o3yw4.html'
              )
              .card-body
                h4.card-title 这是电影标题
                p.card-desc 电影描述
              .card-footer
                small.text-muted 1天前更新
          .col-md-6
            .card
              img.card-img-top(
                src="http://e.hiphotos.baidu.com/image/pic/item/4610b912c8fcc3cef70d70409845d688d53f20f7.jpg",
                alt=""
                data-video='http://v.pptv.com/show/UrXJRq4UhMIloy8.html?rcc_id=web_2056&vfm=bdvppzq&frp=v.baidu.com%2Ftvplay_intro%2Fbrowse&kwid=29312'
              )
              .card-body
                h4.card-title 这是电影标题
                p.card-desc 电影描述
              .card-footer
                small.text-muted 1天前更新
  
  #modal.modal.fade(tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true")
    .modal-dialog(role="document")
      .modal-content
        .modal-header
          h5.modal-title Modal title
          button.close(data-dismiss="modal" aria-label="Close")
            span(aria-hidden="true") &times;
        .modal-body
          #videoModal
        .modal-footer
          button.btn.btn-secondary.closeModal(type="button" data-dismiss="modal") Close
          button.btn.btn-primary(type="button") Save changes
  
  style.
    .sidebar {
      width: 100px;
      margin-top: 100px;
    }
  include ./includes/indexPage.pug

    